@font-face {
  font-family: 'Ledger';
  font-style: normal;
  font-weight: 400;
  src: local('Ledger'), local('Ledger-Regular'), url(http://themes.googleusercontent.com/static/fonts/ledger/v1/ffJAlki6zTQGsPxbI7M04uvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}